<!doctype html>
<html lang="en">

<head>
    <title>HÓA ĐƠN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- <link rel="stylesheet" href="#http://localhost:` + config.port + `/css/bootstrap.min.css">  -->

</head>
<style>
    body {
        width: 390px;
        height: auto;
        font-size: 30px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <div class="card">
        <div class="p-0 bg-light text-center">
            <h1 class="font-weight-bold m-0">NGỌC HẢI</h1>
            <h5 class="font-weight-bold m-0">HỦ TÍU NAM VANG - BÁNH CANH CUA</h5>
            <p class="p-0 mb-0" style="line-height: 1;">Châu Đức, BR-VT</p>
            <p class="p-0 mb-0" style="line-height: 1;">SĐT: <span class="font-weight-bold">037.47.85.005</span></p>
            <div class="row text-left p-0" style="font-size: 20px;line-height: 1;">
                <div class="col-6">
                    <span class="font-weight-bold">Mã HĐ: </span>BI01456
                </div>
                <div class="col-6">
                    <span class="font-weight-bold">Thu ngân: </span>Viet Le
                </div>
            </div>
            <div class="row text-left p-0" style="font-size: 20px;line-height: 1;">
                <div class="col-6">
                    <span class="font-weight-bold">Ngày: </span>20/10/2020
                </div>
                <div class="col-6">
                    <span class="text-right font-weight-bold">Bàn: </span>
                    <span>1</span>
                </div>
                <div class="col-6">
                    <span class="font-weight-bold">Giờ vào: </span>17:06
                </div>
                <div class="col-6">
                    <span class="text-right font-weight-bold">Giờ ra: </span>20:16
                </div>
                <div class="col-12">
                    <span class="text-right font-weight-bold">Tổng thời gian: </span>3h10
                </div>
            </div>
            <h4 class="font-weight-bold m-3">HÓA ĐƠN TẠM TÍNH</h4>
        </div>
        <hr class="bg-dark m-0">
        <div class="card-body m-0 p-0">
            <div class="">
                <table class="">
                    <thead>
                        <tr>
                            <th class="text-left">Món ăn</th>
                            <th class="text-center">SL</th>
                            <th class="text-right">Đơn</th>
                            <th class="text-right">Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">Bánh canh 123 123 123</td>
                            <td class="text-center">1</td>
                            <td class="text-right">25,000</td>
                            <td class="text-right">25,000</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <hr class="bg-dark m-0">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="justify-content-start m-0 p-0">
                            <strong>Tổng cộng</strong>
                        </td>
                        <td class="text-right m-0 p-0">
                            <strong>25,000</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="justify-content-start m-0 p-0">
                            <strong>Số tiền khách đưa</strong>
                        </td>
                        <td class="text-right m-0 p-0">50,000</td>
                    </tr>
                    <tr>
                        <td class="justify-content-start m-0 p-0">
                            <strong>Số tiền thối lại</strong>
                        </td>
                        <td class="text-right m-0 p-0"><strong>25,000</strong></td>
                    </tr>

                </tbody>
            </table>
            <div class="text-center" style="line-height: 0.5;font-size: 20px;">
                <p class="font-weight-bold">Cảm Ơn Quý Khách</p>
                <p class="font-weight-bold">Hẹn Gặp Lại!</p>
                <p style="font-size: 16px;font-style:italic;">Giải pháp phần mềm quản lý chuyên nghiệp TEGY.VN</p>
            </div>
        </div>
    </div>